<div class="hero">
	<div class="container">
		<div class="row">
			<div class="hero-heading">
				Service for lean entrepreneur <br/>
				Find it on hireMe.ng.
				<p>Browse. Buy. Done. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">

			</div>
		</div>
	</div>
</div>
<div class="container section">
	<h1>
		Newest Devs
	</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="dev-card">
				<img src="/img/cleaner.jpg" />
				<h4>
					I am a profesional cleaner
				</h4>
				<h3>
					state of residence: Abuja
				</h3>
				<h3>
					region: Garki
				</h3>
				<h3>
					nearest busstop: General Mosque
				</h3>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dev-card">

				<img src="/img/plumber.jpg" />
				<h4>
					I am a profesional plumber
				</h4>
				<h3>
					state of residence: PH
				</h3>
				<h3>
					region: Mile1
				</h3>
				<h3>
					nearest busstop: Police Station
				</h3>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dev-card">

				<img src="/img/technicaldrawing-.jpg" />
				<h4>
					I can fix all your plubing problems
				</h4>
				<h3>
					state of residence: Lagos
				</h3>
				<h3>
					region: Surulere
				</h3>
				<h3>
					nearest busstop: General Mosque
				</h3>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dev-card">

				<img src="/img/copywrite.jpg" />
				<h4>
					I am a profesional web developer
				</h4>
				<h3>
					state of residence: Abuja
				</h3>
				<h3>
					region: Garki
				</h3>
				<h3>
					nearest busstop: General Mosque
				</h3>
			</div>
		</div>
		{{#each devs}}
		<div class="col-md-3">
			<div class="dev-card">
				<a href="/service_detail/{{ _id }}"><img src="/img/copywrite.jpg" /></a>

				<h4>
					{{ title}}
				</h4>
				<h3>
					NGN{{price}}
				</h3>
				<h3>
					state:{{state}}
				</h3>
				<h3>
					Location:{{region}}
				</h3>
				<h3>
					nearest Bus Stop:{{busstop}}
				</h3>
			</div>
		</div>
		{{/each}}

	</div>
</div>
