<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="overview">
                <div class="About-card">
                    <div class="name">
                        <h2 class="h2-size">About</h2>
                        <hr />
                        <h4>{{ dev.about }}</h4>
                        <hr />
                        <h4>{{ dev.state }}</h4>
                        <hr />
                        <h4>{{ dev.region }}</h4>
                        <hr />
                        <h4>{{ dev.busstop }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="order-card">
                    <div class="name">
                        <h3>NGN{{ dev.price}} Order Details</h3>
                        <a href="/checkout/single_package/{{dev._id }}" class="btn btn-success btn-lg">Procceed to Order</a>
                        
                    </div>
                </div>
            </div>
            <div class="overview">
                <div class="template-card">
                    <div class="name">
                        <h2 class="h2-size">{{dev.title}}</h2>
                        <hr />
                        <img class="image-test" src="{{dev.picture}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>